html, body, .fullscreen, #canvas {
    margin: 0;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}
/*=========TEST==========*/
.border, div {
    outline: 1px dotted gray;
}
.noborder {
    outline: none;
}
/*========================*/
.panel {
    /*TODO*/
    display: none;
}
.ui {
    position: fixed;
}
/*居中用*/
.middle {
    position: relative;
    left: 50%;
    outline: none;
}
.middle > * {
    position: relative;
    left: -50%;
}
canvas {
    z-index: -10;
}
/*角色名 血条 经验条 护盾 面板*/
#player {
    bottom: 80px;
    width: 100%;
    height: 70px;
}
#level {
    float: left;
}
/* 初期无护盾*/
#shieldNum {
    display: none;
}
/*护盾*/
#shield {
    width: 260px;
    height: 40px;
    float: right;
    transform: skew(-20deg);
    outline: 1px solid lightblue;
    box-shadow: 1px 1px 3px #888888;
}
/*护盾条*/
#shieldInner {
    background-color: lightblue;
    z-index: -5;
    width: 70%;
}
/*经验条*/
#exp {
    height: 2px;
    float: left;
    width: 100%;
    margin-top: 5px;
    box-shadow: 1px 1px 3px #888888;
}
#expInner {
    width: 75%;
    height: 100%;
    background-color: Salmon;
}
.innerBar {
    height: 100%;
    position: absolute;
}
/*血条 包含在护盾中*/
#life {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    outline: 1px solid lightblue;
}
#life.hasShield {
    left: 0;
    height: 60%;
    width: 95%;
    position: absolute;
    top: 40%;
}
/*血条本身*/
#lifeInner {
    background-color: Crimson;
    z-index: 5;
    width: 30%;
}
#lifeNum {
    line-height: 40px;
}
#life.hasShield > #lifeNum {
    line-height: 24px;
}
#level {
    font-family: cursive;
    line-height: 40px;
    background-color: #FFF;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    font-size: 180%;
    /*text-shadow: 1 1 2px #FFF;*/
}
.playerPanel {
    width: 310px;
}
/*生命值，护盾值*/
.num {
    font-size: 80%;
    text-align: center;
    display: block;
    transform: skew(20deg);
}
/*技能条*/
#skill {
    bottom: 1%;
    width: 100%;
    padding-bottom: 2px;
    text-align: center;
}
.skillList {
    clear: both;
    float: left;
    position: relative;
    left: 50%;
}
.skill {
    float: left;
    width: 64px;
    height: 64px;
    left: -50%;
    position: relative;
    display: inline;
    margin: 0 5px;
}
/*战斗信息*/
#message {
    left: 1%;
    top: 83%;
    width: 20%;
    height: 15%;
}
/*状态栏*/
#status {
    left: 80%;
    top: 3%;
    width: 15%;
    height: 5%;
}
/*快捷方式*/
#shortcut {
    left: 90%;
    top: 93%;
    width: 8%;
    height: 5%;
}
/*场地特性表示*/
#feature {
    left: 3%;
    top: 3%;
    width: 10%;
    height: 15%;
}
/*角色属性*/
#playerInfo {
    left: 35%;
    top: 90%;
    width: 30%;
    height: 8%;
}
/*统计*/
#achievement {
    left: 35%;
    top: 90%;
    width: 30%;
    height: 8%;
}
/*系统菜单*/
#system {
    left: 35%;
    top: 90%;
    width: 30%;
    height: 8%;
}
/*=============剧情用=======================*/
.dialog {
    height: 200px;
    width: 600px;
    bottom: 10px
}
